{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Django Tailwind{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body
    class="min-h-screen bg-gradient-to-b from-gray-500 via-zinc-900 to-neutral-800 text-white font-sans leading-normal tracking-normal"
  >
    <nav
      class="bg-linear-to-r from-zinc-900 to-gray-500 shadow p-1 flex space-x-4 text-indigo-100 pl-12 space-x-8"
    >
      <!-- ### PRINCIPAL URLS: ### -->

      <!-- LOGGED USERS -->
      <a href="{% url 'homepage' %}">Home</a>
      {% if user.is_authenticated %}
      <a href="{% url 'projecthub:show_hub' %}">Project Hub</a>
      <a href="{% url 'users:personal_page' %}">My Projects</a>
      <a href="{% url 'users:login' %}">Change user?</a>
      <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button>Logout</button>
      </form>

      <!-- ANONYMOUS USERS -->
      {% else %}
      <a href="{% url 'users:login' %}">Login</a>
      <a href="{% url 'users:home' %}">Register</a>
      {% endif %}

      <!--DEUD: PROJECT HUB DEDICATED VARIABLE FOR REDIRECT TO CREATION! -->
      {% block hubnav %} {% endblock %}
    </nav>

    {% block content %}
    <div
      class="container mx-auto flex flex-col md:flex-row items-center justify-between px-8 py-10 text-center md:text-left"
    >
      <h1
        class="text-5xl md:text-6xl font-extrabold font-mono text-slate-100 leading-tight max-w-2xl mb-6 md:mb-0 pl-14"
      >
        FIND YOUR DREAM PROJECT HELPING OTHERS
      </h1>

      <img
        src="{% static 'images/codewalkerstransparent.png' %}"
        alt="CodeWalkers Logo"
        width="300"
      />
      {% if user.is_authenticated %}
    </div>
    <div
      class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center text-center"
    >
      <p class="text-lg italic">"Welocome, {{ user.username }}"</p>
    </div>
    {% endif %} {% endblock %}
  </body>
</html>
