{% extends "base.html" %}{% block title %}Code Walkers{% endblock %}
<!--content-->
{% block content %}

<!-- GAMES XO -->
<h2>Active Games</h2>
<ul>
  {% for game in games %}
  <li>
    <a href="{% url 'gamesX:game_details' game.id %}">{{ game.room_name }}</a> —
    {{ game.state }}
  </li>
  {% empty %}
  <li>No active games yet.</li>
  {% endfor %}
</ul>

<!-- CREATE GAME XO -->

<form method="post">
  {% csrf_token %}
  <input type="text" name="room_name" placeholder="Room name" required />
  <button type="submit">Create New Game</button>
</form>

{% endblock %}
