{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Project Hub{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<div class="min-h-screen text-white flex flex-col items-center py-10">
  <ul class="space-y-6 w-full max-w-3xl">
    {% for project in project_list %}
    <li
      class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center text-center hover:bg-gray-700 transition"
    >
      <a href="{% url 'projecthub:show_project' project.slug %}">
        <h2 class="text-3xl font-bold mb-4">{{ project.name }}</h2>
        <p class="text-gray-400 italic">Created: {{ project.start_date }}</p>
        <p>By: {{project.principal_owner}}</p>
    </li>
    {% empty %}
    <li class="bg-gray-800 rounded-xl shadow-lg p-6 text-center">
      No projects available.
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
